<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296806779798-qd354okr1igsrtugvi7kaldr6qduv8ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296806779798-qd354okr1igsrtugvi7kaldr6qduv8ak</string>
	<key>API_KEY</key>
	<string>AIzaSyBgUbp4ZjeQRUF6QpfooaWlXv4QjACoayQ</string>
	<key>GCM_SENDER_ID</key>
	<string>296806779798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clms</string>
	<key>PROJECT_ID</key>
	<string>organize-leads</string>
	<key>STORAGE_BUCKET</key>
	<string>organize-leads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296806779798:ios:9f3d00bac65176c8cb6bb7</string>
</dict>
</plist>